body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    block-size: 100%;
    overflow: hidden;
}

.main {
    background-color: #faf8f9;
    width: 380px;
    height: 359px;
    margin: 10em auto;
    border-radius: 1.5em;
    box-shadow: 13px 21px 55px 4px rgba(0, 0, 0, 0.8);
   
}
.register_main {
    background-color: #faf8f8;
    width: 480px;
    height: 628px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.8);
    position: relative;
    margin-top: 74px;
}
.sign {
    padding-top: 40px;
    color: #9739c9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: 2px solid rgba(0, 0, 0, 0.18) !important;border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 12px;
text-align: center;
margin-bottom: 9px;
font-family: 'Ubuntu', sans-serif;
}

.navtoreg{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(88, 82, 82, 0.04);
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.18) !important;border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 62px;
    text-align: center;
    margin-bottom: 9px;
    font-family: 'Ubuntu', sans-serif;
    }
    .navtolog{
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(88, 82, 82, 0.04);
        padding: 10px 20px;
        border: 2px solid rgba(0, 0, 0, 0.18) !important;border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-left: 53px;
        text-align: center;
        margin-bottom: 9px;
        font-family: 'Ubuntu', sans-serif;
        }

form.form1 {
    padding-top: 40px;
}

.pass {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: 2px solid rgba(0, 0, 0, 0.18) !important;
border-color: #8C55AA;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 12px;
text-align: center;
margin-bottom: 9px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #fa0000, #ffeae5);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 2%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(12, 11, 11, 0.12);
    color: black;
    text-decoration: none
}
a:hover{
    text-underline-position: below;
    text-underline-offset: 1px;
}

